body{
    margin:50px 300px;
    padding:0;
    background-color: rgb(12, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;    
    color:white;
}
main{
    margin:10px;
    padding:10px;
    background-color: rgb(6, 47, 136);
    width:90%;
    height: 100%;
    text-align: center;
    border: 2px rgb(81, 186, 228) double;
    
}
#user_input > div{
    margin:30px;
    padding:5px;
    font-weight: bold;
    
}
#user_input{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background-color: rgb(147, 147, 221);
    margin: 15px;
}
#return{
    text-align: left;
    font-weight: bold;
    background-color:white;
    width:50px;
}
@media only screen and (max-width: 900px){

    body{
        margin:0;
        padding:0;

    }
}