* {
    box-sizing: border-box;
  }

body {
background-color: rgb(99, 96, 96);
position: relative;
}
h1 {
    font-family:cursive ;
    color: rgb(213, 236, 106);
    font-size: 60px;
    text-align: center;
}

#time {
   text-align: center;
    font-size: 30px;
    height: 30px;
    background-color: rgb(240, 239, 241);
}
.btn{
  
    height: 40px;
    background-color: rgb(25, 192, 192);
    width:200px;
    font-size: 25px;
    
}
#start{
    position: absolute;  
    top:230px;
left: 200px;
}
#reset{
    position: absolute;
    top:230px;
right: 200px;
}

main {
    
    margin-top: 30px;
    margin-bottom: 30px;
    width:70%;
    height:100%;
    margin-left: 200px;
    background-color: whitesmoke;
    text-align: center;
}
#countdown{
    border:black solid 1px;
    text-align: center;
    background-color: rgb(201, 221, 154);
    width:170px;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 600px;
    
}
#letter_l,#letter_s{
    font-size: 30px;
    border : black solid 2px;
    float :left;
    width: 50%;
    height:200px;
    background-color:rgb(135, 193, 216);
    
}

#score {
    background-color: rgb(202, 159, 16);
    font-size: 20px;
    border-radius:50%;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    width:250px;
    margin-left: 200px;
    margin-bottom : 400px;
    top: 370px;
    left:345px;
    position:absolute;    
    animation-name: winner;
    animation-duration: 4s;
}
@keyframes winner {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
#input,#game_area{
    text-align: center;
}
#game_area{
    background-color: blanchedalmond;
    width:70%;
    margin-left:200px;
    color:blue;
}
#music,#celebrate{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: darkorange;
    
}
#celebration {
    position: absolute;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    background-color: darkorange;
    animation-name: winner;
    animation-duration: 4s;
    width:200px;
    height:50px;
    top:25em;
    right:550px;
}
#celebrate{
    right:50px;
}